<div>
  <table class="table table-bordered">
    <tr>
      <td>Message ID</td>
      <td>{{message.id}}</td>
    </tr>
    <tr>
      <td>Timestamp</td>
      <td>{{message.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</td>
    </tr>
  </table>
  <ngb-tabset>
    <ngb-tab title="Content">
      <ng-template ngbTabContent>
        <div class="mt-3">
          <pre>{{message.content | messageContent}}</pre>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Properties">
      <ng-template ngbTabContent>
        <div class="mt-3">
          <table class="table table-bordered">
            <tr *ngFor="let property of message.properties | keys">
              <td>{{property.key}}</td>
              <td>{{property.value}}</td>
            </tr>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
